@model IndexViewModel;

<div class="container mx-auto">
    <div class="flex h-screen">
        <div class="my-auto p-8">
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div class="content-center mb-8 lg:mb-0 text-center lg:text-left">
                    <p class="text-6xl mb-2">Making Roblox a little bit better</p>
                    <p>Bloxstrap is an alternative replacement for the standard Roblox launcher that allows for the easy configuration of file mods and other extra useful functionality.</p>
                    <div class="group relative w-fit mb-2 mx-auto lg:mx-0">
                        <!-- https://tailwindflex.com/@@prashant/glowing-gradient-border -->
                        <div class="absolute -inset-1 rounded-lg bg-gradient-to-tr from-fuchsia-600 to-indigo-600 opacity-0 blur transition-opacity group-hover:opacity-50 group-active:opacity-100"></div>
                        <a href="https://github.com/pizzaboxer/bloxstrap/releases/download/v@(Model.Version)/Bloxstrap-v@(Model.Version).exe" class="relative mt-5 grid grid-flow-col gap-4 rounded-lg bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2">
                            <div class="content-center">
                                <i class="fa-solid fa-arrow-down text-4xl"></i>
                            </div>
                            <div class="text-left font-semibold">
                                <p class="text-lg leading-snug">Download latest version</p>
                                <p class="mb-1 text-xs leading-snug">Version @(Model.Version) &bull; @(Model.ReleaseSizeMB) MB</p>
                            </div>
                        </a>
                    </div>
                    <div class="mb-8 content-center">
                        <p><a href="https://winstall.app/apps/pizzaboxer.Bloxstrap" class="hover:underline">Install with Winget</a> &bull; <a href="https://github.com/pizzaboxer/bloxstrap/releases/latest" class="hover:underline">Release notes</a> &bull; <a href="https://github.com/pizzaboxer/bloxstrap/tags" class="hover:underline">Previous versions</a></p>
                        <p><a href="https://github.com/pizzaboxer/bloxstrap" class="hover:underline">GitHub repository</a> &bull; <a href="https://github.com/pizzaboxer/bloxstrap/stargazers" class="hover:underline">@(Model.StarCount.ToString("N0")) stars</a></p>
                    </div>
                    <div>
                        <p>Having a problem with something? <a href="https://github.com/pizzaboxer/bloxstrap/wiki" class="font-semibold text-purple-400 hover:text-purple-500 transition-colors">See the Wiki <i class="fa-solid fa-arrow-right"></i></a></p>
                        <p>Problem still not resolved? <a href="https://github.com/pizzaboxer/bloxstrap/issues" class="font-semibold text-purple-400 hover:text-purple-500 transition-colors">Please open an issue <i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                </div>

                <div class="content-center">
                    <img src="/img/collage.png" />
                </div>
            </div>

            <div class="mt-12 grid grid-cols-1 xl:grid-cols-4 md:grid-cols-2 gap-8">
                <a href="https://github.com/pizzaboxer/bloxstrap">
                    <div class="relative h-max">
                        <div class="absolute -inset-1 rounded-xl bg-gradient-to-tr from-fuchsia-600 to-indigo-600 blur"></div>
                        <div class="relative rounded-xl bg-neutral-900 p-4 bg-opacity-90 hover:bg-opacity-75 transition-all">
                            <p class="mb-2"><i class="fa-brands fa-github text-2xl mr-2"></i> <span class="text-xl font-semibold">Open-source on GitHub</span></p>
                            <p>See what makes it tick, or contribute something useful. We also handle bug reports and feature requests here.</p>
                        </div>
                    </div>
                </a>

                <a href="https://github.com/pizzaboxer/bloxstrap/wiki/Integrating-Bloxstrap-functionality-into-your-game">
                    <div class="relative h-max">
                        <div class="absolute -inset-1 rounded-xl bg-gradient-to-tr from-fuchsia-600 to-indigo-600 blur"></div>
                        <div class="relative rounded-xl bg-neutral-900 p-4 bg-opacity-90 hover:bg-opacity-75 transition-all">
                            <p class="text-xl font-semibold mb-2"><i class="fa-brands fa-discord text-2xl mr-2"></i> Discord Rich Presence</p>
                            <p>Let your friends know at a glance what you're playing, with support for integration by game developers.</p>
                        </div>
                    </div>
                </a>

                <a href="https://github.com/pizzaboxer/bloxstrap/wiki/What-is-activity-tracking%3F">
                    <div class="relative h-max">
                        <div class="absolute -inset-1 rounded-xl bg-gradient-to-tr from-fuchsia-600 to-indigo-600 blur"></div>
                        <div class="relative rounded-xl bg-neutral-900 p-4 bg-opacity-90 hover:bg-opacity-75 transition-all">
                            <p class="text-xl font-semibold mb-2"><i class="fa-solid fa-earth-americas text-2xl mr-2"></i> Server location information</p>
                            <p>Makes server hopping just that little bit easier, making it easy to see roughly where your server is located.</p>
                        </div>
                    </div>
                </a>

                <a href="https://discord.gg/nKjV3mGq6R">
                    <div class="relative h-max">
                        <div class="absolute -inset-1 rounded-xl bg-gradient-to-tr from-fuchsia-600 to-indigo-600 blur"></div>
                        <div class="relative rounded-xl bg-neutral-900 p-4 bg-opacity-90 hover:bg-opacity-75 transition-all">
                            <p class="text-xl font-semibold mb-2"><i class="fa-solid fa-users text-2xl mr-2"></i> Rich modding community</p>
                            <p>Browse all the file mods that people are making and publishing to the Bloxstrap Discord server.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>